<a href="https://colab.research.google.com/github/vananthi/50_python_programs/blob/main/50_Python_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1)Python program to swap two variables

# To take inputs from the user
a=int(input("enter a value:"))
b=int(input("enter b value:"))

# create a temporary variable and swap the values
temp=a
a=b
b=temp

print("The value of a after swapping",a)
print("The value of b after swapping",b)

enter a value:34
enter b value:67
The value of a after swapping 67
The value of b after swapping 34

In [ ]:
# 2)To find GCD(Greatest Common Divisor) or HCF(High Common Factor) of two number in Python program

 #importing "math" for mathematical operations
import math

# To take inputs from the user
num1=int(input("enter num1 value:" ))
num2=int(input("enter num2 value:" ))

gcd=math.gcd(num1,num2)

print("The gcd of a num1 and num2 is:",gcd)

enter num1 value:6
enter num2 value:5
The gcd of a num1 and num2 is: 1

In [ ]:
# 3)Arithmatic operations Program in python

# To take inputs from the user
a=int(input("Enter a value:"))
b=int(input("Enter b value"))
print("ARITHMATIC OPERATIONS")
print("----------------------------------")
print("Addtion           \t=\t",a+b)
print("Subration         \t=\t",a-b)
print("Multiplication    \t=\t",a*b)
print("Division          \t=\t",a/b)
print("Modulo Division   \t=\t",a%b)
print("Floor Division    \t=\t",a//b)

Enter a value:86
Enter b value56
ARITHMATIC OPERATIONS
----------------------------------
Addtion           	=	 142
Subration         	=	 30
Multiplication    	=	 4816
Division          	=	 1.5357142857142858
Modulo Division   	=	 30
Floor Division    	=	 1

In [ ]:
# 4)To find the Area of triangle in python program
#(s = (a+b+c)/2,area = âˆš(s(s-a)*(s-b)*(s-c)))

# To take inputs from the user
a=float(input("enter a vlaue:"))
b=float(input("enter b value:"))
c=float(input("enter c value:"))

#area of  perimeter
s=a+b+c/2

#area of triangle
area=(s*(s-a)*(s-b)*(s-c))**0.5

print("area of triangle is:",area)

enter a vlaue:4
enter b value:5
enter c value:6
area of triangle is: 63.49803146555018

In [ ]:
#5)Randam number gerator program using python program
import random
random_num=random.randint(1,20)
print(random_num)

16

In [ ]:
#6)Convert string to list in python program
str="Sujiveeinfotech"
list=list(str)
print(list)

['S', 'u', 'j', 'i', 'v', 'e', 'e', 'i', 'n', 'f', 'o', 't', 'e', 'c', 'h']

In [ ]:
#7)Python(string) Pyramid pattern using python program
string="python"
x=0
for i in string:
  x=x+1
  print(string[0:x])
for i in string:
  x=x-1
  print(string[0:x])

p
py
pyt
pyth
pytho
python
pytho
pyth
pyt
py
p

In [ ]:
#8) To find armstrong numbers using python
num=153

armstrong=sum(int(digit)**3 for digit in str(num))
if num==armstrong:
  print(num,"is armstrong number")
else:
  print(num,"is not armstrong number")

153 is armstrong number

In [ ]:
#9)Check if number is positive,negative or zero using pthon
num=float(input("enter a value:"))
if num>=0:
  print(num,"is a positive number")
elif num==0:
  print(num,"is zero")
else:
  print(num, "is a negative number")

enter a value:5
5.0 is a positive number

In [ ]:
#10)to find 2024 is a Leap year or not using python program
year=2024
if(year%4==0 and year%100!=0) or (year%400==0):
  print("2024 is a leap year")
else:
  print("2024 is not a leap year")

2024 is a leap year

In [ ]:
#11)reverse star patternaes using python

for i in range(5,0,-1):
  print("*"*i)

*****
****
***
**
*

In [ ]:
#12)star patternaes using python

for i in range(0,6,1):
  print("*"*i)

*
**
***
****
*****

In [ ]:
#13)Calculator Program in python

a=float(input("enter a vlaue:"))
b=float(input("enter b vlaue:"))
c=input("add/sub/multi/div")
if (c=="add"):
  print(a+b)
elif(c=="sub"):
  print(a-b)
elif(c=="multi"):
  print(a*b)
elif(c=="div"):
  print(a/b)
else:
  print("invalid operation")

enter a vlaue:5
enter b vlaue:6
add/sub/multi/divadd
11.0

In [ ]:
#14)Multiplication Table in python programe

for i in range(1,11):
  print("456 x ",i,"=",456*i)

456 x  1 = 456
456 x  2 = 912
456 x  3 = 1368
456 x  4 = 1824
456 x  5 = 2280
456 x  6 = 2736
456 x  7 = 3192
456 x  8 = 3648
456 x  9 = 4104
456 x  10 = 4560

In [ ]:
#15)Find Prime number or Not using python

# To take inputs from the user
n=int(input("enter a number:"))
for i in range(2,n):
  if (n%i==0):
    print(n, "is not a prime number")
    break
else:
    print(n,"is a prime number")

enter a number:10
10 is not a prime number

In [ ]:
#16) To find the factorial of number using python

import math
print(math.factorial(5))

120

In [ ]:
n=5
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

120

In [ ]:
# 17)If check given string is Palindrome or not using python

a="MADAM"
print("Enter string is MADAM")
if(a==a[::-1]):
   print(a,"The string is a palindrome")
else:
   print(a,"The string is not a palindrome")

Enter string is MADAM
MADAM The string is a palindrome

In [ ]:
#18)To find odd or even using python

a=int(input("enter a value:"))
if(a%2==0):
  print(a,"is a even number")
else:
  print(a,"is a odd number")

enter a value:7
7 is a odd number

In [ ]:
#19)Reverse string using python

a="python"
print(a[::-1])

nohtyp

In [ ]:
#20) To create calendar using python program

import calendar
yy=1993  #year
mm=3    #month
#display the caldendar
print(calendar.month(yy, mm))

     March 1993
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [ ]:
#21)Concatenating String using python program

a="Python"
b="developer"
c=a+b
print("Concatenating of a abd b is",c)

Concatenating of a abd b is Pythondeveloper

In [ ]:
#22)Largest number among the three input numbers using python program

# To take inputs from the user
a=int(input("enter a value:"))
b=int(input("enter b value:"))
c=int(input("enter c value:"))
if(a>=b) and (a>=c):
  print(a,"is a largest number.")
elif(b>=a) and (b>=c):
  print(b,"is a largest number.")
else:
  print(c,"is a largeast number.")

enter a value:6
enter b value:2
enter c value:9
9 is a largeast number.

In [ ]:
#23) To create current date using python program

from datetime import date
today_date=date.today()
print("Today_date:",today_date)

Today_date: 2024-02-13

In [ ]:
#24) To create current time using python program

# importing datetime module for now()
import time

# using now() to get current time
current_time = datetime.datetime.now()

# Printing value of now.
print("Time now at greenwich meridian is:", current_time)

Time now at greenwich meridian is: 2024-02-13 08:33:53.196697

In [ ]:
#25)To find LCM of two number in Python program

 #importing "math" for mathematical operations
import math

# To take inputs from the user
num1=int(input("enter num1 value:" ))
num2=int(input("enter num2 value:" ))

lcm=math.lcm(num1,num2)

print("The gcd of a num1 and num2 is:",lcm)

enter num1 value:6
enter num2 value:5
The gcd of a num1 and num2 is: 30

In [ ]:
#26)Function to find square of a number

def find_square(num):
  result=num*num
  return result

square=find_square(3)
print("Square:",square)

Square: 9

In [ ]:
#27)Convert temperature in Celsius to Fahrenheit using python program

celsius=float(input("enter celsius value:"))
fahrenheit=(celsius*1.8)+32
print(celsius,"degree celsius is equal to",fahrenheit,"fahrenheit.")

enter celsius value:25
25.0 degree celsius is equal to 77.0 fahrenheit.

In [ ]:
#28)Convert kilometers to miles using python program

kilometer=float(input("enter kilometer"))
conv_fac=0.621
miles=kilometer*conv_fac
print(kilometer,"kilometer is covert into",miles,"miles")

enter kilometer85
85.0 kilometer is covert into 52.785 miles

In [ ]:
#29)Python program to find Compound Interest

def compound_interest(principal,rate,time):
  amount=principal*(pow((1+rate/100),time))
  CI=amount-principal
  print("Compound Interest is",CI)

compound_interest(10000,10,5)

Compound Interest is 6105.100000000006

In [ ]:
#30)check whether the element is present in list or not

list=[1,2,5,6,88,4,9,10]
n=int(input("enter a number:"))
if n in list:
  print("exist in list",n)
else:
  print("not exist in list",n)

enter a number:100
not exist in list 100

In [ ]:
#31)Python programs using dictionaries to Merge the theory and practical marks of the students

marks = {'Physics':67, 'Maths':87}
int_marks = {'Practical':48}
marks.update(int_marks)
print(marks)

{'Physics': 67, 'Maths': 87, 'Practical': 48}

In [1]:
#32)To reverse an number using python program


number = int(input("Enter the integer number: "))
revs_number = 0
while (number > 0):
  # Logic
 remainder = number % 10
 revs_number = (revs_number * 10) + remainder
 number = number // 10
print("The reverse number is : {}".format(revs_number))

Enter the integer number: 56
The reverse number is : 65

In [ ]:
#33) To check whether a given character is an alphabet or not in Python

print("Enter a character")
c=input()
if (c>='a') and (c<='z'):
  print(c,"is an alphabet")
elif (c>='A') and (c<='Z'):
  print(c,"is an alphabet")
else:
  print(c,"is not an alphabet")

Enter a character
5
5 is not an alphabet

In [ ]:
#34)Sum of n numbers using python program

sum = 0
print("Enter the Value of n: ")
n = int(input())
print("Enter " + str(n) + " Numbers: ")
for i in range(n):
 num = int(input())
 sum = sum+num
print("Sum of " + str(n) + " Numbers = ",sum)

Enter the Value of n:
4
Enter 4 Numbers:
5
7
28
45
Sum of 4 Numbers =  85

In [ ]:
#35) Write a program to display the cube of the number up to on integer.

n=int(input("enter a value:"))
for i in range(1,n+1):
  print("cube of "+ str(i) + " is ",i**3)

enter a value:5
cube of 1 is  1
cube of 2 is  8
cube of 3 is  27
cube of 4 is  64
cube of 5 is  125

In [ ]:
#36) Get a integer number from user and pass it to the function called findevenorodd().Let the function print whether the number is even or odd.

def findevenorodd(b):
  if (b%2==0):
    print("even")
  else:
    print("odd")

a=int(input("enter a value:"))
findevenorodd(a)

enter a value:5
odd

In [ ]:
#37)Create function called add(),sub(),mul(),div()
   #and get the input for a and b inside every function then print the result

a=int(input("enter a value:"))
b=int(input("enter b value:"))
def add():
  print("add:",a+b)
def sub():
  print("sub:",a-b)
def mul():
  print("mul:",a*b)
def div():
  print("div:",a/b)

add()
sub()
mul()
div()

enter a value:25
enter b value:68
add: 93
sub: -43
mul: 1700
div: 0.36764705882352944

In [ ]:
#38)Get input from a and b and pass it to the function called printrange().
    #Let the functions print the numbers from a and b.

def printrange(r1,r2):
  for i in range(r1,r2):
    print(i)

a=int(input("enter a value:"))
b=int(input("enter b value:"))
printrange(a,b)

enter a value:6
enter b value:9
6
7
8

In [ ]:
a=int(input("enter a value:"))
b=int(input("enter b value:"))

def printrange():
  for i in range(a,b):
    print(i)
printrange()

enter a value:6
enter b value:9
6
7
8

In [ ]:
# 39)Set u_name="ananthi" u_password="1345" get input from user name and password .
    #Create function called validate.
    #If user name and pass matches the function should return True or False.


u_name="ananthi"
u_password="1345"
user_name=str(input("Enter value user name:"))
password=int(input("Enter value user password:"))
def validate():
  if(u_name==user_name) and (u_password==password):
    return True
  else:
    return False

a=validate()
print(a)

Enter value user name:sarath
Enter value user password:564
False

In [ ]:
#40)(a+b)*c
    #Get input for a and b and function is called add(). which should return the sum of a and b.
    #And multiply sum with c


a=int(input("a:"))
b=int(input("b:"))
c=int(input("c:"))
def add():
  return a+b

obj=add()
print("add:",obj)
print("multi:",obj*c)

a:5
b:10
c:10
add: 15
multi: 150

In [ ]:
#41)Create a class called labtop and create a following variables and functions.
    #Variuable=Processor,Price,Ram. Create object HP,LENOVA,DELL

class labtop():
  def __init__(self,m,p,pr,r):
    self.model=m
    self.price=p
    self.processor=pr
    self.ram=r
  def display(self):
    print("Model    :",self.model)
    print("Price    :",self.price)
    print("Processor:",self.processor)
    print("Ram      :",self.ram)

hp=labtop("HP","50000","i3","8gb")
hp.display()
print('\n')
lenova=labtop("LENOVA","60000","i3","16gb")
lenova.display()
print('\n')
dell=labtop("DELL","40000","i3","8gb")
dell.display()

Model    : HP
Price    : 50000
Processor: i3
Ram      : 8gb


Model    : LENOVA
Price    : 60000
Processor: i3
Ram      : 16gb


Model    : DELL
Price    : 40000
Processor: i3
Ram      : 8gb

In [ ]:
#42)Create a class called calculator .Create two variables a and b.
    #Create a function called add,sub,div,multi all function should take two variables as a parameter.
    #Pass the a and b value through the object()

class calculator():
  def __init__(self,a,b):
    self.num_1=a
    self.num_2=b
  def add(self):
    print('Addtion        :',self.num_1+self.num_2)
  def sub(self):
     print('subration     :',self.num_1-self.num_2)
  def multi(self):
     print('Multiplication:',self.num_1*self.num_2)
  def div(self):
     print('Division      :',self.num_1/self.num_2)

obj=calculator(10,20)
obj.add()
obj.sub()
obj.multi()
obj.div()

Addtion        : 30
subration     : -10
Multiplication: 200
Division      : 0.5

In [ ]:
#43)Create a base class called Shape with a method  area()  the returns 0.
   #Create a derived class called Rectangle that inherits from shape and overrides the area()
   #method to calculate and return the area of a rectangle.(Polimorphism)


class shape():
  def area(self):
    return 0

class rectangle(shape):
  def area(self):
    return l*b

a=rectangle()

l=float(input("enter l value:"))
b=float(input("enter b value:"))
r=a.area()
print("Area of rectangle=",r)

enter l value:5
enter b value:6
Area of rectangle= 30.0

In [ ]:
#44)Create a base class called Person with a constructor that takes a Name as a parameter.
  #Create a derived class called Student that inherits from Person as an constructor that take a parameter called Grade.
  #Write a method in student to display the name and grade of the student .Use super keyword to achive this.

class person():
  def __init__(self,name):
    self.name=name

class student(person):
  def __init__(self,name,grade):
    self.grade=grade
    super().__init__(name)

  def display(self):
    print("Student name is:",self.name)
    print("Student grade is:",self.grade)

s=student("Ananthi","A")
s.display()

Student name is: Ananthi
Student grade is: A

In [ ]:
#45)Create a base class called Vehicle with a method Start() that prints "Vehicle is starts".
  #Create a derived class called Car that inherits from Vehicle and overrides the Start() method to print "Car started".

class vehicle():
  def start(self):
    print("Vehicle is starts")

class car(vehicle):
  def start(self):
    super().__init__()
    print("Car started")

obj=car()
obj.start()

Car started

In [ ]:
#46)Create a base class called Employee with properties name and salary.
  #Create a derived class called Manager  that inherites from Employee and adds a property departement.
  # Write a method in Manager to display the name,salary,and departement of the manager.

class employee():
  def __init__(self,name,salary):
    self.name=name
    self.salary=salary

class manager(employee):
  def __init__(self,name,salary,department):
    self.department=department
    super().__init__(name,salary)

  def display(self):
    print("Emplay name      :",self.name)
    print("Emplay salary    :",self.salary)
    print("Emplay department:",self.department)
m=manager("Ananthi","50000","Developer")
m.display()

Emplay name      : Ananthi
Emplay salary    : 50000
Emplay department: Developer

In [2]:
#47) Program to find substring in a given string

fullstring =input("Enter the string ")
substring = input("Enter the substring to search for")
if substring in fullstring:
 print("Found!")
else:
 print("Not found!")

Enter the string python
Enter the substring to search forpy
Found!

In [5]:
#48). Program to find Vowels in a Strings


string=input("Enter string:")
vowels=0
for i in string:
 if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E'or i=='I' or i=='O' or i=='U'):
  vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string:f
Number of vowels are:
0

In [7]:
#49)Python Program to generate all the divisors of an integer

n=int(input("Enter an integer:"))
print("The divisors of the number are:")
for i in range(1,n+1):
 if(n%i==0):
  print(i)

Enter an integer:4
The divisors of the number are:
1
2
4

In [8]:
#50)Python Program to take in the marks of 5 subjects and display the grade


sub1=int(input("Enter marks of the first subject: "))
sub2=int(input("Enter marks of the second subject: "))
sub3=int(input("Enter marks of the third subject: "))
sub4=int(input("Enter marks of the fourth subject: "))
sub5=int(input("Enter marks of the fifth subject: "))
avg=(sub1+sub2+sub3+sub4+sub4)//5
if(avg>=90):
 print("Grade: A")
elif(avg>=80&avg<90):
  print("Grade: B")
elif(avg>=70&avg<80):
 print("Grade: C")
elif(avg>=60&avg<70):
 print("Grade: D")
else:
 print("Grade: F")

Enter marks of the first subject: 80
Enter marks of the second subject: 95
Enter marks of the third subject: 96
Enter marks of the fourth subject: 98
Enter marks of the fifth subject: 96
Grade: A